.card-main{
    height: 110px;
    width: 360px;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
    background-color: white;
    border: 1px solid #d8e0e9;
    border-radius: 8px;
    padding: 20px;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #6a6e75;
}

.card-content{
    color: #282a30;
}

.avatar{
    height: 30px;
    width: 30px;
    border-radius: 9999px;
    background-color: #000;
}