.header{
    width: 100%;
    height: 80px;
    min-height: 80px;
    background-color: #a7b6c6;
    border-bottom: 1px solid #77869d;
    display: flex;
    align-items: center;
}

.group-button{
    outline: none;
    height: 38px;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
    background-color:white;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #222b3c;
    padding-left: 20px;
    padding-right: 20px;
}

.group-button:hover{
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    border: 2px solid #465365;
}

.header-body{
    z-index: 10;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
    height: 100px;
    width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: absolute;
    top: 68px;
    left: 50px;
    border: 1px solid #d8e0e9;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
}
.group-item{
    color: #465365;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.group-select{
    width: 150px;
    height: 30px;
    border: 1px solid #d8e0e9;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    outline:none;
}